
.topico {
    display: block;
    max-width: 700px;
    margin: 0 auto;
    padding: 15px;
   

}

.topico:nth-child(1),
.topico.mostrar {
    display: block
}

/* .topico {


    background-color: white;
} */

.dark-mode {
    background-color: #333333;
    color: white;
  }
  

.balancar {
    animation: shake 0.5s;
    animation-iteration-count: 1;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}


#button1q {
    display: block;
    padding: 10px 15px;
    margin: 20px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    color: #fff;
    background-color: #69CB60FA;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0px #999;
    position: relative;
    
}

#buttonNome {
    display: none;
    padding: 10px 15px;
    margin: 20px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #69CB60FA;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0px #999;
    position: relative;
   
}

::placeholder {
    width: 100%;
}

.area {
    display: flex;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 0px;
    position: relative;
}

.areaFlex {
    display: flex;
}

.areaFlex>button {
    margin: 10px;
    padding: 20px;
}


.areaFlex>input {
    margin: 10px;
    padding: 20px;
}

.areaInline {
    display: inline-block;
}

.areaInline>button {
    margin: 10px;
    padding: 20px;
}

.areaInline>input {
    margin: 10px;
    padding: 20px;
}


.areaBlock {
    display: block;
    position: absolute;
}

.areaBlock>input {
    margin: 10px;
    padding: 20px;
    position: relative;
}




.centerBar {
    display: flex;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 0px;
    position: relative;
    width: 100%
}


.bibliografias {
    display: none;
    max-width: 700px;
    margin: 0 auto;
    padding: 15px;
}


progress{
    padding: 15px;
    max-width: 700px;

}

.bordaQuestoes {
    text-align: left;
   
    border: solid lightgrey 0px;
    height: auto;
    padding: 3px;
    width: auto;
    border-radius: 2px;
    box-shadow: 4px 4px 4px #888888;
    word-wrap: break-word;
    line-height: 30px;
}

.bordaQuestoes:hover {
    background-color: #ccc
}

.btnHide {
    display: none;
    padding: 10px 15px;
    margin: 20px;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #69CB60FA;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0px #999;
    position: relative;
   
}

.btnShow {
    display: block;
    padding: 10px 15px;
    font-size: 16px;
    margin: 20px;
    cursor: pointer;
    text-align: center;
    color: #fff;
    background-color: #69CB60FA;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0px #999;
    position: relative;
   
}

.btnShow-tp1 {
    display: block;
    padding: 10px 15px;
    font-size: 16px;
    margin-bottom: 20px;
    cursor: pointer;
    text-align: center;
    color: #fff;
    background-color: #69CB60FA;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0px #999;
    position: relative;
   
}

.button3 {
    display: block;
    padding: 10px 15px;
    font-size: 16px;
    margin: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #69CB60FA;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0px rgb(31, 26, 26);
    position: relative;
   
}

.buttonB {
    display: block;
    padding: 10px 15px;
    font-size: 16px;
    margin: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #69CB60FA;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0px rgb(31, 26, 26);
    position: relative;
   
}

.caixaFotos {
    text-align: center;
    height: auto;
    padding: 5px;
    width: auto;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}

.centralizado2 {
    margin-block: 50%;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    color: rgb(241, 33, 189);
}

.citacao {

    padding: 5px;
    border-radius: 0px;
    font-size: 12px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.comentarios {
    display: none;
}

.ConteudoPainelFinal {
    width: 80%;
    margin: auto;
    height: 100%;
    background-image: url(globinhoPe.png) no-repeat;
    margin-bottom: 40px;
    margin-top: 20px;
}

.fixa {
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    height: 40px;
    background-color: #bda599fa;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    color: black;
    font-weight: bold;
    text-align: right;
    font-family: "Lato, sans-serif";
    box-shadow: 0px 0px 0px #151515 inset;
    background-image: url(globinhoPe.png);
    background-position: 260px;
    background-repeat: no-repeat;
    background-size: 32px;
    z-index: 5;
}

.flex-container .box {
    background-color: #fffffffa;
    border: 1px solid;
    width: 50%;
    margin: 10px;
    text-align: center;
    line-height: auto;
    font-size: auto;
    word-break: break-all;
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
    background-color: rgb(255, 255, 255);
}

.img-container {
    float: left;
    width: 33.33%;
    padding: 5px;
}

.input {
    position: center;
    width: 95%;
    height: auto;
    padding: 6px 10px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin: 0;
    background-color: #f8f8f8;
    font-size: auto;
    resize: auto;
    text-overflow: wrap;
    margin-bottom: 20px;
    margin-top: 20px;
    display: flex;
}

.margemDireita {
    margin-right: 30px;
}

/* .navbar {
    overflow: auto;
    background-color: rgb(134, 125, 125);
    position: fixed;
    top: 0;
    width: 100%;
    height: 40px;
    z-index: 100;
} */

/* .navbar a {
    float: center;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 22px;
    grid: 33.33%;
} */

.nota {
    display: none;
    text-align: center;
    padding: 10px;
   
    font-size: 20px
}

.paragrafo {

    border: none;
    height: auto;
    width: auto;
    border-radius: 0px;
    padding: 5px
}

.postit-tp1 {
    background: #ca57ff;
    width: auto;
    height: auto;
    padding: 20px;
   
    margin-bottom: 60px;
    margin-top: 60px;
    line-height: 20px;
    margin: center;
    position: relative;
    Color: white;
    font-size: 20px;
    box-shadow: 2px 4px 6px #444;
    -moz-box-shadow: 2px 4px 6px #444;
    -webkit-box-shadow: 2px 4px 6px #444;
    transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -webkit-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
}

.postit-tp1>a {
    text-decoration: none;
}

.postit-tp1>a:hover {
    text-decoration: underline;
}



.postit-tp8 {
    background: #e6ff5b;

    width: auto;
    height: auto;
    padding: 20px;
    font-family: "Lato", sans-serif;
    margin-bottom: 60px;
    margin-top: 60px;

    justify-content: center;
    text-align: center;
    position: relative;
    Color: rgb(0, 0, 0);
    font-size: 18px;
    box-shadow: 2px 4px 6px #444;
    -moz-box-shadow: 2px 4px 6px #444;
    -webkit-box-shadow: 2px 4px 6px #444;
    transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -webkit-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
}

.postit-tp8>a {
    text-decoration: none;
}

.postit-tp8>a:hover {
    text-decoration: underline;
}



.postit-tp10 {
    background: #f5ff9e;
    width: auto;
    /* Ajuste o tamanho conforme necessário */
    padding: 10px;
  
    margin: 20px;
    /* Reduzi a margem para 40px */
    text-align: center;
    position: relative;
    color: #000;
    /* Corrigi a propriedade "Color" para "color" */
  
    /* Aumentei o tamanho da fonte para 20px */
    box-shadow: 2px 4px 6px #444;
    transform: rotate(-3deg);
  }
  
  
  
  .postit-tp10>a {
    text-decoration: none;
  
  
  }
  
  .postit-tp10:hover {
  
    box-shadow: 4px 6px 8px #444;
    transform: rotate(-2deg);
  
  }
  

.primeiraLetra {
    font-size: 44px;
    font-family: "Lato", sans-serif;
    color: rgb(241, 33, 189);
}

.titulo2 {
    display: block
}



#adesivo {
    display: flex;
    justify-content: left;
    margin-top: -160px;
    margin-bottom: 20px;
    position: relative;
}

#balao {
    display: inline-block;
    /* ou float:left, vai do seu uso */
    color: #b3d456;
    background-color: #b3d456;
    border-bottom: 10px solid #b3d456;
    border-left: 10px solid transparent;
    background-clip: padding-box;
    padding: 0 10px 10px 10px;
}

.borda {
    display: block;
    background: white;
    border: solid;
    height: auto;
    margin: 15px;
    padding: 5px;
    width: auto;
    border-radius: 10px;
}

#button:active {
    background-color: #69CB60FA;
    box-shadow: 0 5px #666;
    transform: translateY(3px);
}

#button:hover {
    background-color: #69CB60FA
}

#button {
    display: inline-block;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #69CB60FA;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0px #999;
    position: relative;
   
}

#buttonA {
    display: none;
    padding: 10px 15px;
    margin: 20px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #69CB60FA;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0px rgb(31, 26, 26);
    position: relative;
   
}

#buttonConfira {
    display: block;
    padding: 10px 15px;
    margin: 20px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #69CB60FA;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0px #999;
    position: relative;
   
}

#buttonConfira1 {
    display: block;
    padding: 10px 15px;
    margin: 20px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #69CB60FA;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0px #999;
    position: relative;
   
}

#caixa {
    font-size: 18px;
    margin: auto;
    text-align: center;
    margin-bottom: 20px;
    background: #f89f76fa;
    color: black;
    font-weight: bold;
    border: none black 0px;
    height: auto;
    padding: 5px;
    width: 200px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px rgb(27, 27, 27);
   
}

.caixa {
    font-size: 18px;
    margin: auto;
    text-align: center;
    margin-bottom: 20px;
    background: #f89f76fa;
    color: black;
    font-weight: bold;
    border: none black 0px;
    width: 340px;
    height: auto;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px rgb(27, 27, 27);
   
}

#caixaNomeAluno {
    font-size: 18px;
    margin: auto;
    text-align: center;
    background: #f89f76fa;
    color: black;
    font-weight: bold;
    border: none black 0px;
    height: auto;
    padding: 5px;
    width: 200px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px rgb(27, 27, 27);
   
}

#caixaPerguntas

/* caixa perguntas  */
    {
    line-height: normal;
    background: white;
    border: solid 0.5px;
    border-radius: 5px;
    padding: 2%;
    font-size: 14pt;
    color: black;
    font-weight: bold;
    font-family: "Lato", sans-serif;
    box-shadow: 5px 10px 20px rgb(248, 27, 200) inset;
}

#centralizado {
    margin-block: 30px;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    color: rgb(241, 33, 189);
}

#citacao6 {
    height: auto;
    padding: 5px;
    width: auto;
    font-size: 12px;
}

.divCaixa1 {
    line-height: normal;
    background: #cfb9c6fa;
    border: none;
    border-radius: 5px;
    padding: 2%;
    color: black;
   
}

#divRef {
    display: none;
    width: 320px
}

#h1 {
    line-height: normal;
    background: #f89f76fa;
    border-radius: 5px;
    width: auto;
    color: black;
    font-weight: bold;
    text-align: left;
    box-shadow: 0px 0px 0px #151515 inset;
}

#imagem {
    float: left;
}

#imagemRef {
    float: left;
    position: relative;
}

.mark2 {
    background-color: rgb(219, 89, 159);
    color: black;
    display: inline-block;
    border-radius: 5px;
    padding: 2px;
    box-shadow: 2px 2px 20px #888888;
}

#mensagem {
    display: none;
    background: white;
    border: solid;
    height: auto;
    padding: 5px;
    width: auto;
    border-radius: 10px;
}

#p3

/* Caixa Para saber mais */
    {
    line-height: normal;
    background: #69CB60FA;
    border: none;
    border-radius: 5px;
    padding: 2%;
    font-size: 14pt;
    color: black;
    font-weight: bold;
    box-shadow: 0px 0px 0px white inset;
}

.p4

/* perguntas no meio do texto */
    {
    width: auto;
    word-wrap: break-word;
    text-align: left;
    background: lightgrey;
    border: solid 0.5px;
    border-radius: 5px;
    padding: 5px;
    font-size: 10pt;
    color: black;
    font-family: "Lato", sans-serif;
    box-shadow: 0px 0px 0px white;
    box-shadow: 2.5px 5px 4px #888888;
    margin-bottom: 20px;
}

#postit {
    background: #ffffa5;
    width: 250px;
    height: 120px;
    padding: 5px;
   ;
    margin-bottom: 5px;
    margin-top: -20px;
    line-height: 20px;
    position: relative;
    font-size: 24px;
    box-shadow: 2px 4px 6px #444;
    -moz-box-shadow: 2px 4px 6px #444;
    -webkit-box-shadow: 2px 4px 6px #444;
    transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -webkit-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
}

.postit {
    background: #ffffa5;
    width: 250px;
    height: auto;
    padding: 5px;
   
    margin-bottom: 5px;
    margin-top: 20px;
    line-height: 20px;
    position: relative;
    font-size: 24px;
    box-shadow: 2px 4px 6px #444;
    -moz-box-shadow: 2px 4px 6px #444;
    -webkit-box-shadow: 2px 4px 6px #444;
    transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -webkit-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
}

.postit>a {
    text-decoration: none;
}

.postit>a:hover {
    text-decoration: underline;
}


#progress {
    border-radius: 30px;
    height: 30px;
    width: 100%;
    padding: 3px;
}
  

#Questione {
    background-color: #f1f1f1;
    padding: 0.01em 16px;
    margin: 20px 0;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important
}



.imgTextos {
    display: block;
    margin-left: auto;
    margin-right: auto;
}



.fa-brands-tiktok {


    display: inline-block;
    width: 0.88em;
    height: 1em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath fill='%23000' d='M448 209.91a210.06 210.06 0 0 1-122.77-39.25v178.72A162.55 162.55 0 1 1 185 188.31v89.89a74.62 74.62 0 1 0 52.23 71.18V0h88a121.18 121.18 0 0 0 1.86 22.17A122.18 122.18 0 0 0 381 102.39a121.43 121.43 0 0 0 67 20.14Z'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }
  
  
  .fa-brands-tiktok:hover {
    font-size: 1.6em;
    /* Define o tamanho dos ícones para 24 pixels */
  
  }

  .faIcone {
    font-size: 1.5em;
    /* Define o tamanho dos ícones para 24 pixels */
  
  }
  
  .faIcone:hover {
    font-size: 1.6em;
    /* Define o tamanho dos ícones para 24 pixels */
  
  }

 
  .aumentar {

    font-size: 0.7em;
  }
  
  
  .aumentar:hover {
    color: #f5ff9e;
    font-size: 0.8em;
  }


  a {
    text-decoration: none;
  }
  
  

#iconeFooter {
    width: 32px;
    height: 32px;
  }

table {
   
    font-size: 16px;
    border-collapse: collapse;
    width: auto;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    height: auto;
    line-height: 20px;
}

textarea {
    height: auto;
    padding: 6px 10px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin: auto;
    background-color: #f8f8f8;
    font-size: auto;
    resize: none;
    margin-bottom: 20px;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

ul.lista {
    font-size: 18px;
    margin: 20px
}



form>p {
    padding: 15px;

}



.ladoDireito {
    display: flex;
    justify-content: right;
}

.margemTop {
    margin-top: 10px;
    margin-right: 20px;
}



.margemAcima {
    margin-top: 80px;
}

.margemAbaixo {
    margin-bottom: 50px;
}

.larguraBarTextos {
    max-width: 700px;
    margin: 0 auto;
    
}

.larguraBarTextos > p {
   padding: 10px;
    
}

.zoom {
    animation: animatezoom 1s
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}


h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 15px;

}



.justificadoDireita {
    display: flex;
    justify-content: right;
    position: relative
}


.justificadoEsquerda {
    display: flex;
    justify-content: left;
    position: relative
}


